/*
 * CSS for bracket layouts
 */
body.page-node-bracket {
  background: #EBEBEB;
}

#tournament-knockout {
  position: relative;
}
#knockout-bracket-wrapper {
  background: #EBEBEB;
  position: relative;
  border: 1px solid #CCC;
  width: auto;
  overflow: auto;
  max-height: 500px;
}
#knockout-bracket-full {
  height: 100%;
}
#knockout-bracket-full #tournament-knockout {
  height: 100%;
}
#knockout-bracket-full #knockout-bracket-wrapper {
  max-height: none;
}
#knockout-bracket-embed #knockout-bracket-wrapper {
  height: 500px;
}
#knockout-embed-background-image {
  bottom: 35px;
  max-width: 150px;
  filter: alpha(opacity=85);
  opacity: 0.85;
  position: fixed;
  right: 35px;
}
#knockout-bracket-full #knockout-embed-background-image {
}
#knockout-bracket-embed {
  border: 1px solid #ccc;
}
#knockout-bracket-full #knockout-bracket-wrapper,
#knockout-bracket-embed #knockout-bracket-wrapper {
  border: 0;
}

#knockout-bracket-refresh-note {
  font-size: 0.9em;
  padding: 2px 0 0 2px;
}
#knockout-bracket-full #knockout-bracket-refresh-note {
  background: #222;
  bottom: 0px;
  color: #fff;
  opacity: 0.75;
  filter: alpha(opacity=75);
  position: fixed;
  padding: 4px;
  right: 0;
}
#knockout-bracket-full #knockout-bracket-header {
  background: #222;
}

/* Scrollbar */
#knockout-bracket-wrapper::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
#knockout-bracket-wrapper::-webkit-scrollbar-button:start:decrement {
  display: block;
  height: 5px;
}
#knockout-bracket-wrapper::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 5px;
}
#knockout-bracket-wrapper::-webkit-scrollbar-button:vertical:increment {
  background-color: transparent;
}
#knockout-bracket-wrapper::-webkit-scrollbar-track:enabled {
  background-color: rgba(113,112,107,0.1);
  -webkit-border-radius: 5px;
}
#knockout-bracket-wrapper::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: rgba(0,0,0,.2);
  -webkit-border-radius: 5px;
}
#knockout-bracket-wrapper::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background-color: rgba(0,0,0,.2);
  -webkit-border-radius: 5px;
}

#knockout-bracket-header {
  padding: 5px;
  overflow: hidden;
}
.knockout-bracket-overlay {
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);  
  background: white;
  border: 1px solid #CCC;
  padding: 10px 20px 5px; 
  position: absolute;   
  z-index: 99;
}
#knockout-bracket-link {
  display: none;
  width: 300px;
  float: right;
  right: 20px;
  top: 40px;
}
#knockout-bracket-link .form-text {
  width: 290px;
}

#knockout-bracket {
  cursor: hand;
  cursor: grab !important;
  cursor: -moz-grab;
  cursor: url('../images/openhand.cur'), pointer !important;
  cursor: -webkit-grab;
  padding: 10px;
  position: relative;
}
#knockout-bracket.grabbing {
  cursor: hand;
  cursor: grabbing !important;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: url('../images/closedhand.cur'), pointer !important;
}

#knockout-bracket .line-column,
#knockout-bracket .round {
  float: left;
}

#knockout-bracket .line-column {
  width: 35px;
}

#knockout-bracket .round {
  width: 215px;
}

#knockout-bracket .match {
  background: #EBEBEB;
  margin: 13px 0 20px;
  width: 213px;
}

#knockout-bracket .match .participant {
  height: 30px;
  margin: 0px;
  line-height: 30px;
  position: relative;
  background: #f6f6f6;

}

#knockout-bracket .match .participant span.name {
  display: block;
  float: left;
  width: 173px;
  height: 29px;
  text-align: left;
  padding-left: 10px;
}

#knockout-bracket .match .participant span.name a {
  color: #333;
}

#knockout-bracket .match .participant.winner {
  background: #d9ead3;
}

#knockout-bracket .match .participant span.score {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  text-align: center;
}

#knockout-bracket .match .participant-0 {
  color: #777;
}

#knockout-bracket .round-heading {
  display: block;
  width: 202px;
  height: 35px;
  overflow: hidden;
  margin: 0;
}
#knockout-bracket .round-heading h4 {
  color: #333;
  margin: 0;
  padding-left: 8px;
}
#knockout-bracket .round-heading-rule {
  margin: 5px 4px;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid white;
}

#knockout-bracket .line-column {
  width: 35px;
  margin-right: -7px;
}

#knockout-bracket .last {
  margin-bottom: 0px;
}

#knockout-bracket-tabs {
  float: left;
}
#knockout-bracket-actions {
  float: right;
}

#knockout-bracket .knockout-bracket-pane {
  display: none;
}

#knockout-bracket .knockout-bracket-pane.active-pane {
  display: block;
}

#knockout-bracket .match-divider {
  height: 1px;
  text-align: center;
  line-height: 1px;
  font-size: 0.7em;
  bottom: 1px;
  position: relative;
  z-index: 1;
}

#knockout-bracket .hover span.name,
#knockout-bracket .hover span.score {
  font-weight: bold;
}

#knockout-bracket .third_place .round .round-heading {
  margin-bottom: 10px;
}

#knockout-bracket .match-link {
  display: none;
  font-size: 0.8em;
  padding-top: 2px;
  text-align: center;
}

#knockout-bracket .show-score-link .match-link {
  margin-left: 10px;
  text-align: left;
}

#knockout-bracket .match.node:hover .match-link {
  display: block;
}

#knockout-bracket .match.node:hover .match-divider {
  display: none;
}

#knockout-bracket .score-link {
  float: right;
  margin-right: 10px;
}

#knockout-bracket .match.node:hover .top {
  margin-top: -11px;
}

#knockout-bracket .match.node:hover .bottom {
  margin-top: 2px;
}

/**
 *   Rankings
 */
#knockout-rankings {
  min-height: 270px;
  left: 50%;
  margin-left: -115px;
  margin-top: -135px;
  top: 50%;
  width: 230px;
}
#knockout-rankings div.rank-1 {
  border-top: none;
}
#knockout-rankings .rankings-participant {
  border-top: 1px solid #E3E3E3;
  float: left;
  padding: 10px 0;
  width: 100%;
}
#knockout-rankings .rankings-picture img {
  float: left;
  padding-right: 5px;
}
#knockout-rankings .rankings-name-wrapper {
  float: left;
  width: 75%;
}
#knockout-rankings .rankings-name {
  float: left;
  font-weight: bold;
  width: 70%;
}
#knockout-rankings .rankings-rank {
  float: right;
  font-weight: bold;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  line-height: 1.8;
  padding: 0 7px;
}
#knockout-rankings div.rank-1 .rankings-rank {
  background-color: #FFD700;
}
#knockout-rankings div.rank-2 .rankings-rank {
  background-color: #DBDBDB;
}
#knockout-rankings div.rank-3 .rankings-rank {
  background-color: #CD7F32;
}
#knockout-rankings .rankings-name-wrapper span {
  clear: left;
  color: #666666;
  float: left;
  font-size: 11px;
  width: 70%;
}
/**
 * Match connectors
 */
.bracket-line-top {
  display: block;
  width: 15px;
  margin-bottom: 0;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.bracket-line-bottom {
  display: block;
  width: 15px;
  margin-top: -7px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.bracket-top-connector {
  display: block;
  height: 10px;
  width: 10px;
  margin-top: -10px;
  margin-left: 15px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.bracket-bottom-connector {
  display: block;
  height: 10px;
  width: 10px;
  margin-top: -1px;
  margin-left: 15px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

/* Double eliminination default styles */
#knockout-bracket .line-column .straight-line {
  margin-bottom: 77px;
  width: 28px;
  height: 1px;
  border-bottom: 1px solid #ccc;
}

#knockout-bracket .line-column .bracket-line-bottom.last,
#knockout-bracket .other .line-column .bracket-line-bottom.last,
#knockout-bracket .line-column .straight-line.last,
#knockout-bracket .other .line-column .straight-line.last,
#knockout-bracket .round .match.last,
#knockout-bracket .other .round .match.last {
  margin-bottom: 10px;
}

#knockout-bracket .final .line-column .first{
  margin-top: 77px;
}

#knockout-bracket-tabs .active-pane {
  font-weight: bold;
  color: #000;
}

#knockout-bracket-embed #knockout-bracket-tabs a:hover,
#knockout-bracket-embed #knockout-bracket-actions a:hover {
  color: #000 !important;
}
#knockout-bracket-actions a:hover {
  text-decoration: underline;
}
#knockout-bracket-actions a {
  text-decoration: none;
}
